<template>
  <el-form>
    <el-form-item label="Name">
      <el-input v-model.trim="accountForm.name" />
    </el-form-item>
    <el-form-item label="Email">
      <el-input v-model.trim="accountForm.email" />
    </el-form-item>
    <el-form-item>
      <el-button type="primary" @click="submit">更新</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
export default {
  props: {
    user: {
      type: Object,
      default: () => {
        return {
          name: "",
          email: "",
        };
      },
    },
  },
  data() {
    return {
      accountForm:{
        name: this.user.name,
        email: this.user.email,
      }
    };
  },
  methods: {
    async submit() {
      try {
        await this.$store.dispatch("user/updateInformation", this.accountForm);
        this.$message({
          message: "更新成功",
          type: "success",
        });
      } catch (error) {
        this.$message.error(
          (has(error, "response.data.message")
            ? error.response.data.message
            : error.message) || "登入失敗"
        );
        this.resetForm(formName);
      }
    },
  },
};
</script>
