<template>
  <div class="footer">
		<div class="footer_c inner_c">
			<div class="footer_top">
				<div class="bir">
					<a href="#">
						<img src="~/assets/images/logo.png" alt="">
					</a>
					<div class="info">
						青竹良品原創生活類電商品牌，秉承一貫的嚴謹態度，我們深入世界各地，從源頭全程嚴格把控商品生產環節，力求幫消費者甄選到最優質的商品，全線採用天然原材料，控制甲醛低量無害，採用進口工藝，國際生產線不斷優化，食材保證核心原產地新鮮直供，讓你享受品質生活
					</div>
				</div>
				<div class="about">
					<dl>
						<dt>
							<a href="#">
								關於我們
							</a>
						</dt>
						<dd>
							<a href="#">
								我的品牌
							</a>
						</dd>
						<dd>
							<a href="#">
								公司動態
							</a>
						</dd>
						<dd>
							<a href="#">
								經歷發展
							</a>
						</dd>
						<dd>
							<a href="#">
								商品推廣
							</a>
						</dd>
					</dl>
					<dl>
						<dt>
							<a href="#">
								關於我們
							</a>
						</dt>
						<dd>
							<a href="#">
								我的品牌
							</a>
						</dd>
						<dd>
							<a href="#">
								公司動態
							</a>
						</dd>
						<dd>
							<a href="#">
								經歷發展
							</a>
						</dd>
						<dd>
							<a href="#">
								商品推廣
							</a>
						</dd>
					</dl>
					<dl>
						<dt>
							<a href="#">
								關於我們
							</a>
						</dt>
						<dd>
							<a href="#">
								我的品牌
							</a>
						</dd>
						<dd>
							<a href="#">
								公司動態
							</a>
						</dd>
						<dd>
							<a href="#">
								經歷發展
							</a>
						</dd>
						<dd>
							<a href="#">
								商品推廣
							</a>
						</dd>
					</dl>
				</div>
				<div class="ewm">
					<p class="wx">
						<img src="~/assets/images/img71.png" alt="">
						<span>微信公眾號</span>
					</p>
					<p class="wb">
						<img src="~/assets/images/img72.png" alt="">
						<span>微博公眾號</span>
					</p>
				</div>
			</div>
		</div>
		<div class="footer_bar">
			<div class="footer_bar_c inner_c">
				<div class = "pay">
					<p class = "copy">
						2019 © youhaosuda.com
					</p>
					<p class = "ico">
						<a href="#">
							<img src="~/assets/images/img81.png" alt="">
						</a>
						<a href="#">
							<img src="~/assets/images/img82.png" alt="">
						</a>
						<a href="#">
							<img src="~/assets/images/img83.png" alt="">
						</a>
						<a href="#">
							<img src="~/assets/images/img84.png" alt="">
						</a>
						<a href="#">
							<img src="~/assets/images/img85.png" alt="">
						</a>
						<a href="#">
							<img src="~/assets/images/img86.png" alt="">
						</a>
						<a href="#">
							<img src="~/assets/images/img87.png" alt="">
						</a>
					</p>
				</div>
				<div class="super">
					<a href="#" class = "pic1">

					</a>
					<a href="#" class = "pic2">

					</a>
					<a href="#" class = "pic3">

					</a>
				</div>
			</div>
		</div>
	</div>
</template>

<style>
.footer{
	background: #FAF8F8;
}
.footer .footer_c .footer_top{
	height: 158px;
	padding: 60px 0;
}
.footer .footer_c .footer_top .bir{
	width: 300px;
	float: left;
	margin-right: 67px;
}
.footer .footer_c .footer_top .bir .info{
	line-height: 16px;
	font-size: 12px;
	color: #636262;
}
.footer .footer_c .footer_top .bir .info:hover{
	color: #C78A49;
}
.footer .footer_c .footer_top .about{
	float: left;
	line-height: 30px;
}
.footer .footer_c .footer_top .about dl{
	margin-right: 90px;
	float: left;
}
.footer .footer_c .footer_top .about dt{
	font-size: 16px;
}
.footer .footer_c .footer_top .about dt:hover{
	color: #C78A49;
}
.footer .footer_c .footer_top .about dd{
	font-size: 14px;
}
.footer .footer_c .footer_top .about dd:hover{
	color: #C78A49;
}
.footer .footer_c .footer_top .ewm{
	float: right;
}
.footer .footer_c .footer_top .ewm .wx{
	float: left;
	margin-right: 17px;
	width: 140px;
	text-align: center;
	color: #000;
	font-size: 18px;
}
.footer .footer_c .footer_top .ewm .wb{
	float: left;
	width: 140px;
	text-align: center;
	color: #000;
	font-size: 18px;
}
.footer .footer_c .footer_top .ewm p:hover{
	color: #C78A49;
}
.footer .footer_bar{
	width: 100%;
	height: 105px;
	border-top: 1px solid #E6E6E6;
}
.footer .footer_bar .footer_bar_c{
	padding-top: 30px;
}
.footer .footer_bar .footer_bar_c .pay{
	float: left;
}
.footer .footer_bar .footer_bar_c .pay .copy{
	color: #919191;
	font-size: 12px;
}
.footer .footer_bar .footer_bar_c .pay .ico{
	height: 25px;
	margin-top: 18px;
}
.footer .footer_bar .footer_bar_c .pay .ico a{
	display: inline-block;
	width: 25px;
	height: 25px;
	background: purple;
	margin-right: 10px;
}
.footer .footer_bar .footer_bar_c .pay .ico a img{
	width: 100%;
}
.footer .footer_bar .footer_bar_c .super{
	float: right;
	padding-top: 10px;
}
.footer .footer_bar .footer_bar_c .super a{
	display: inline-block;
	width: 95px;
	height: 36px;
	background: url(~/assets/~/assets/images/img881.png);
	margin-left: 10px;
}
.footer .footer_bar .footer_bar_c .super a.pic2{
	background: url(~/assets/~/assets/images/img891.png);
}
.footer .footer_bar .footer_bar_c .super a.pic3{
	background: url(~/assets/~/assets/images/img901.png);
}
.footer .footer_bar .footer_bar_c .super a.pic1:hover{
	background: url(~/assets/~/assets/images/img88.png);
}
.footer .footer_bar .footer_bar_c .super a.pic2:hover{
	background: url(~/assets/~/assets/images/img89.png);
}
.footer .footer_bar .footer_bar_c .super a.pic3:hover{
	background: url(~/assets/~/assets/images/img90.png);
}
</style>
