<template>
  <div class="header">
    <div class="header_c inner_c">
      <h1 class="logo">
        青竹商城
      </h1>
      <dl class="allType">
        <dt><a href="#">查看所有類型</a></dt>
        <dd>
          <div class="dd_inn">
            <ul class="dd_cont">
              <li><a href="#">不鏽鋼</a></li>
              <li><a href="#">原料水泥</a></li>
              <li><a href="#">塑料</a></li>
              <li><a href="#">木質</a></li>
              <li><a href="#">陶瓷</a></li>
            </ul>
            <ul class="pro">
              <li>
                <a href="#">
                  <div class="pic">
                    <img src="~/assets/images/img25.png" alt="">
                  </div>
                  <div class="content">
                    <h3>簡約木質餐盤</h3>
                    <span>￥200</span>
                  </div>
                </a>
                <div class="mask">
                  <a href="#" class="btn">查看詳情</a>
                </div>
              </li>
              <li>
                <a href="#">
                  <div class="pic">
                    <img src="~/assets/images/img26.png" alt="">
                  </div>
                  <div class="content">
                    <h3>簡約木質餐盤</h3>
                    <span>￥200</span>
                  </div>
                </a>
                <div class="mask">
                  <a href="#" class="btn">查看詳情</a>
                </div>
              </li>
              <li>
                <a href="#">
                  <div class="pic">
                    <img src="~/assets/images/img27.png" alt="">
                  </div>
                  <div class="content">
                    <h3>簡約木質餐盤</h3>
                    <span>￥200</span>
                  </div>
                </a>
                <div class="mask">
                  <a href="#" class="btn">查看詳情</a>
                </div>
              </li>
            </ul>
          </div>
        </dd>
      </dl>
      <ul class="nav">
        <nuxt-link to="/" tag="li">首頁</nuxt-link>
        <nuxt-link to="allproducts" tag="li">所有產品</nuxt-link>

        <li><a href="blog.html">博客</a></li>
        <li><a href="article.html">文章列表</a></li>
      </ul>
      <a href="#" class="search" ></a>
      <div class="reg">
        <div class="reg_c" v-if="isLogin">
          {{nickName}}
          <span>&nbsp;|&nbsp;</span>
          <a href="javascript:;" @click.prevent="logout">登出</a>
          <span>&nbsp;|&nbsp;</span>
          <nuxt-link to="info"><i class="el-icon-user"></i></nuxt-link>
        </div>
        <div class="reg_c" v-else>
          <nuxt-link to="login">登入</nuxt-link>
          <span>&nbsp;|&nbsp;</span>
          <nuxt-link to="registe">註冊</nuxt-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    isLogin() {
      return this.$store.getters["user/isLogin"];
    },
    nickName() {
      return this.$store.getters["user/nickName"];
    },
  },
  methods: {
    async logout() {
      try {
        await this.$store.dispatch("user/logout");
        this.$message({
          message: "登出成功，兩秒後跳轉",
          type: "success",
        });
        setTimeout(() => {
          const redirect = this.$route.query.redirect || "/";
          this.$router.push(redirect);
        }, 2000);
      } catch (error) {
        this.$message.error(
          (has(error, "response.data.message")
            ? error.response.data.message
            : error.message) || "登入失敗"
        );
        this.resetForm(formName);
      }
    },
  },
};
</script>

<style>
.header {
  width: 100%;
  height: 68px;
  border-bottom: 1px solid #e1e1e1;
  font-size: 14px;
  color: #333333;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 999;
}
.header .header_c {
  height: 68px;
}
.header .header_c h1 {
  width: 200px;
  height: 68px;
  background: url(~/assets/images/logo.png) no-repeat 22px 15px;
  text-indent: -999em;
  overflow: hidden;
  float: left;
}
.header .header_c .allType {
  float: left;
  line-height: 68px;
}
.header .header_c .allType dt {
  width: 120px;
  height: 68px;
  text-align: center;
}
.header .header_c .allType dt a {
  display: block;
}
.header .header_c .allType dt:hover {
  background: #e6d6c6;
}
.header .header_c .allType dd {
  height: 340px;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 68px;
  display: none;
  background: #fff;
}
.header .header_c .allType:hover dd {
  display: block;
}
.header .header_c .allType .dd_inn {
  width: 968px;
  margin: 0 auto;
  padding-left: 280px;
  padding-top: 60px;
}
.header .header_c .allType .dd_inn .dd_cont {
  line-height: 38px;
  width: 232px;
  float: left;
}
.header .header_c .allType .dd_inn .dd_cont li a {
  text-decoration: none;
  color: #1f1f1f;
}
.header .header_c .allType .dd_inn .dd_cont li a:hover {
  color: #e3be96;
}
.header .header_c .allType .dd_inn .pro {
  width: 710px;
  height: 280px;
  float: left;
}
.header .header_c .allType .dd_inn .pro li {
  width: 173px;
  height: 280px;
  margin-right: 60px;
  float: left;
  position: relative;
}
.header .header_c .allType .dd_inn .pro li:hover .mask {
  display: block;
}
.header .header_c .allType .dd_inn .pro li .pic img {
  width: 100%;
}
.header .header_c .allType .dd_inn .pro li .content {
  line-height: 30px;
  text-align: center;
  font-size: 12px;
}

.header .header_c .allType .dd_inn .pro li .content span {
  color: #db2e2e;
}
.header .header_c .nav {
  float: left;
  line-height: 68px;
}
.header .header_c .nav li {
  float: left;
  padding: 0 28px;
}
.header .header_c .nav li a {
  display: block;
}
.header .header_c .nav li:hover {
  background: #e6d6c6;
}
.header .header_c .search {
  width: 25px;
  height: 25px;
  background: url(~/assets/images/img00.png);
  float: left;
  margin-top: 20px;
  margin-left: 138px;
}
.header .header_c .reg {
  float: right;
  line-height: 68px;
  position: relative;
  text-align: right;
}
.header .header_c .reg a {
  display: inline-block;
}
.header .header_c .reg .ico .ico_c {
  display: inline-block;
  width: 28px;
  height: 26px;
  background: url(~/assets/images/0.png);
  vertical-align: middle;
  margin-left: 10px;
}
.header .header_c .reg .con {
  font-weight: bold;
}

.header .header_c .reg .settle {
  width: 230px;
  height: 114px;
  background: purple;
  position: absolute;
  right: 2px;
  top: 69px;
  padding: 10px;
  background: #f2f2f2;
  border: 1px solid #dddddd;
  border-top: none;
  text-align: center;
  display: none;
}
.header .header_c .reg .settle a {
  display: block;
  height: 44px;
  background: #c78a49;
  color: #fff;
  line-height: 44px;
  font-size: 14px;
  border-radius: 4px;
}
.header .header_c .reg .reg_c {
  float: right;
}
.header .header_c .reg .ico {
  float: right;
}
.header .header_c .reg .settle p span {
  color: #db2e2e;
}
.header .header_c .reg .ico:hover .settle {
  display: block;
}
</style>
