/* 公共類，設置頁面的版心 */

.inner_c{
	/* 版心的寬度 */
	width: 1140px;
	/* 居中顯示 */
	margin: 0 auto;
}
/* 設置a標籤的下劃線 */
a{
	text-decoration: none;
	color: inherit;
}
/* 設置遮罩，公共類 */
.mask{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.2);
	display: none;
}
.mask .btn{
	width: 138px;
	height: 52px;
	position: absolute;
	background: #C78A49;
	color: #fff;
	text-align: center;
	line-height: 52px;
	border-radius: 3px;
	top: 50%;
	left: 50%;
	margin-top: -26px;
	margin-left: -69px;

}
/* qingzhu_content中標題部分的公共類 */
.title{
	text-align: center;
	height: 92px;
	padding-top: 40px;
}
.title h2{
	font-size:23px;
	font-weight: bold;
	color: #000000;
	line-height: 54px;

}
.title .info{
	color: #999999;
	font-size: 16px;
}
/* 產品部分共類 */
.pub_pro li img{
	width: 100%;
}
.pub_pro li .cont{
	text-align: center;
	padding-top: 20px;
	font-size: 14px;
}
.pub_pro li .cont h3{
	line-height: 36px;
	color: #000;
	font-weight: bold;
}
.pub_pro li .cont span{
	color: #DB2E2E;
}
