<template>
  <div class="s_content">
    <div class="s_content_c inner_c">
      <div class="s_info">
        <div class="s_title">
          <nuxt-link to="/">首頁</nuxt-link>
          &gt;
          <span>
            所有商品
          </span>
        </div>
        <div class="s_prod">
          <ul class="pub_pro">
            <li v-for="val in list" :key="val.id">
              <img :src="val.image" alt="">
              <div class="cont">
                <h3>{{val.name}}</h3>
                <span>￥{{val.price}}</span>
              </div>
              <div class="mask">
                <a href="#" class="btn">查看詳情</a>
              </div>
            </li>
          </ul>
        </div>
        <div class="pages">
          <pagination v-loading="loading" @pageClick="pageClick" :page="pagination.page"
            :total="pagination.total" :limit="size" :currentCount="7" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  data() {
    return {
      loading: false,
    };
  },
  async asyncData({ $axios, route }) {
    const page = Number(route.query.page)??1
    const size = Number(route.query.size)??5
    const { list, pagination } = await $axios.$get(`/product?page=${page}&size=${size}`);
    return {
      list,
      pagination,
      size
    };
  },
  methods: {
    async pageClick({ page, limit }) {
      this.loading = true;
      this.pagination.page = page;
      this.pagination.size = limit;
      const { list, pagination } = await this.$axios.$get(
        `/product?page=${this.pagination.page}&size=${this.pagination.size}`
      );
      this.list = list;
      this.pagination = pagination;
      this.$scrollTo(0, 800)
      this.loading = false;
      this.$router.push(`allproducts?page=${this.pagination.page}&size=${this.pagination.size}`);
    },
  },
};
</script>


<style >
.s_content {
  width: 100%;
  background: #f2f2f2;
  padding-bottom: 60px;
}
.s_content .s_content_c {
  padding-top: 69px;
  background: #fff;
}
.s_content .s_content_c .s_info {
  padding: 10px;
}
.s_content .s_content_c .s_info .s_title {
  line-height: 40px;
  border-bottom: 1px solid #dddddd;
  font-size: 14px;
  color: #555555;
  padding-top: 20px;
}
.s_content .s_content_c .s_info .s_title a {
  color: #000;
}
.s_content .s_content_c .s_info .screen {
  padding: 30px 0;
  margin-bottom: 10px;
}
.s_content .s_content_c .s_info .screen table {
  width: 100%;
  line-height: 53px;
  font-size: 12px;
}
.s_content .s_content_c .s_info .screen table tr {
  border: 1px solid #ddd;
  overflow: hidden;
}
.s_content .s_content_c .s_info .screen table th {
  border-right: 1px solid #dddddd;
  width: 90px;
  text-align: center;
  font-weight: bold;
  color: #555555;
}
.s_content .s_content_c .s_info .screen table td {
  padding-left: 10px;
}
.s_content .s_content_c .s_info .screen table td a {
  margin-right: 30px;
}
.s_content .s_content_c .s_info .screen table td a:hover {
  text-decoration: underline;
}
.s_content .s_content_c .s_info .screen table .t2 {
  background: #f3f4f4;
}
.s_content .s_content_c .s_info .fun {
  padding: 0 20px;
  font-size: 14px;
  color: #999999;
  height: 46px;
  line-height: 46px;
  overflow: hidden;
  margin-bottom: 10px;
}
.s_content .s_content_c .s_info .fun .sort {
  float: left;
}
.s_content .s_content_c .s_info .fun .sort a {
  padding: 8px 10px;
  margin: 5px;
  border: 1px solid #999;
  display: inline-block;
  line-height: 12px;
  border-radius: 2px;
}
.s_content .s_content_c .s_info .fun .sort a:hover {
  text-decoration: underline;
}
.s_content .s_content_c .s_info .fun .sort a i {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(~/assets/images/ico1.png);
  position: relative;
  top: 3px;
}
.s_content .s_content_c .s_info .fun .sort a.s2 i {
  background: url(~/assets/images/ico2.png);
}
.s_content .s_content_c .s_info .fun .sort a.s3 i {
  background: url(~/assets/images/ico3.png);
}
.s_content .s_content_c .s_info .fun .swi {
  float: left;
  margin-left: 20px;
}
.s_content .s_content_c .s_info .fun .swi a {
  display: inline-block;
  width: 38px;
  height: 16px;
  background: #909090;
  border: 2px solid #999;
  border-radius: 10px;
  vertical-align: middle;
}
.s_content .s_content_c .s_info .fun .swi a i {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
}
.s_content .s_content_c .s_info .total {
  float: right;
  color: #000;
}
.s_content .s_content_c .s_info .total span {
  color: #999;
}
.s_content .s_content_c .s_info .s_prod {
  overflow: hidden;
}
.s_content .s_content_c .s_info .s_prod ul {
  overflow: hidden;
  width: 1164px;
}
.s_content .s_content_c .s_info .s_prod ul li {
  width: 246px;
  height: 362px;
  margin-right: 45px;
  margin-bottom: 30px;
  float: left;
  position: relative;
}
.s_content .s_content_c .s_info .s_prod ul li img {
  width: 100%;
}
.s_content .s_content_c .s_info .s_prod ul li:hover .mask {
  display: block;
}
.s_content .s_content_c .s_info .pages {
  text-align: right;
  color: #a3a3a3;
}

.s_content .s_content_c .s_info .pages .tol {
  display: inline-block;
  width: 30px;
  height: 30px;
  color: #999;
  text-align: center;
  line-height: 30px;
  border-radius: 3px;
  margin: 0 3px;
}
.s_content .s_content_c .s_info .pages .cur {
  background: #9dafb8;
  color: #fff;
}
.s_content .s_content_c .s_info .pages .tol:hover {
  background: #9dafb8;
  color: #fff;
}
</style>
