<template>
<div>
  	<!-- banner部分開始 -->
	<div class="banner">
		<ul class="pic">
			<li class = "cur"><a href="#"><img src="~/assets/images/img11.png" alt=""></a></li>
			<li><a href="#"><img src="~/assets/images/img12.png" alt=""></a></li>
			<li><a href="#"><img src="~/assets/images/img13.png" alt=""></a></li>
		</ul>
		<ol class = "circle">
			<li class = "cur"></li>
			<li></li>
			<li></li>
		</ol>
	</div>
	<!-- banner部分結束 -->
	<!-- qingzhu_content部分開始 -->
	<div class="qingzhu_content">
		<div class="qingzhu_content_c inner_c">
			<div class="pro1">
				<div class="title">
					<h2><a href="#">新品推薦，精心挑選</a></h2>
					<p class="info">家居必備使用小單品</p>
				</div>
				<div class="pro_pic">
					<div class="pro_c">
						<ul>
							<li>
								<a href="#">
									<img src="~/assets/images/img23.png" alt="">
									<div class="cont">
										<h3>黑陶自然花香蠟燭</h3>
										 <span>￥300</span>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="~/assets/images/img24.png" alt="">
									<div class="cont">
										<h3>黑陶自然花香蠟燭</h3>
										 <span>￥300</span>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="~/assets/images/img25.png" alt="">
									<div class="cont">
										<h3>黑陶自然花香蠟燭</h3>
										 <span>￥300</span>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="~/assets/images/img26.png" alt="">
									<div class="cont">
										<h3>黑陶自然花香蠟燭</h3>
										 <span>￥300</span>
									</div>
								</a>
							</li>
						</ul>
					</div>
					<div class="btns">
						<a href="#" class="leftBtn">&lt;</a>
						<a href="#" class="rightBtn">&gt;</a>
					</div>
				</div>
			</div>
			<div class="pro2">
				<div class="title">
					<h2><a href="#">專題活動，限時促銷</a></h2>
					<p class="info">嚴選材質，用心設計</p>
				</div>
				<div class="pro2_c">
					<ul class = "pro2_c_pic">
						<li class = "pic1 pic">
							<a href="#">
								<img src="~/assets/images/img31.jpg" alt="">
							</a>
							<span></span>
						</li>
						<li class = "pic2 pic">
							<a href="#">
								<img src="~/assets/images/img32.jpg" alt="">
							</a>
							<span></span>
						</li>
						<li class = "pic3 pic">
							<a href="#">
								<img src="~/assets/images/img33.jpg" alt="">
							</a>
							<span></span>
						</li>
					</ul>
				</div>
			</div>
			<div class="pro3">
				<div class="title">
					<h2><a href="#">青竹良品，你的家居首選</a></h2>
					<p class="info">天然之源，誠摯之禮</p>
				</div>
				<div class="pro3_c">
					<ul  class = "pub_pro">
						<li>
							<a href="#">
								<img src="~/assets/images/img40.jpg" alt="">
							</a>
							<div class="mask"></div>
						</li>
						<li>
							<a href="#">
								<img src="~/assets/images/img41.png" alt="">
								<div class="cont">
									<h3>簡約時尚水泥花瓶</h3>
									<span>￥450</span>
								</div>
							</a>
							<div class="mask">
								<a href="#" class = "btn">
									查看詳情
								</a>
							</div>
						</li>

						<li>
							<a href="#">
								<img src="~/assets/images/img42.png" alt="">
								<div class="cont">
									<h3>簡約時尚水泥花瓶</h3>
									<span>￥450</span>
								</div>
							</a>
							<div class="mask">
								<a href="#" class = "btn">
									查看詳情
								</a>
							</div>
						</li>
						<li>
							<a href="#">
								<img src="~/assets/images/img43.png" alt="">
								<div class="cont">
									<h3>簡約時尚水泥花瓶</h3>
									<span>￥450</span>
								</div>
							</a>
							<div class="mask">
								<a href="#" class = "btn">
									查看詳情
								</a>
							</div>
						</li>
						<li>
							<a href="#">
								<img src="~/assets/images/img44.png" alt="">
								<div class="cont">
									<h3>簡約時尚水泥花瓶</h3>
									<span>￥450</span>
								</div>
							</a>
							<div class="mask">
								<a href="#" class = "btn">
									查看詳情
								</a>
							</div>
						</li>
					</ul>
					<ul  class = "pub_pro">
						<li>
							<a href="#">
								<img src="~/assets/images/img45.jpg" alt="">
							</a>
							<div class="mask">
							</div>
						</li>
						<li>
							<a href="#">
								<img src="~/assets/images/img46.png" alt="">
								<div class="cont">
									<h3>簡約時尚水泥花瓶</h3>
									<span>￥450</span>
								</div>
							</a>
							<div class="mask">
								<a href="#" class = "btn">
									查看詳情
								</a>
							</div>
						</li>

						<li>
							<a href="#">
								<img src="~/assets/images/img47.png" alt="">
								<div class="cont">
									<h3>簡約時尚水泥花瓶</h3>
									<span>￥450</span>
								</div>
							</a>
							<div class="mask">
								<a href="#" class = "btn">
									查看詳情
								</a>
							</div>
						</li>
						<li>
							<a href="#">
								<img src="~/assets/images/img48.png" alt="">
								<div class="cont">
									<h3>簡約時尚水泥花瓶</h3>
									<span>￥450</span>
								</div>
							</a>
							<div class="mask">
								<a href="#" class = "btn">
									查看詳情
								</a>
							</div>
						</li>
						<li>
							<a href="#">
								<img src="~/assets/images/img49.png" alt="">
								<div class="cont">
									<h3>簡約時尚水泥花瓶</h3>
									<span>￥450</span>
								</div>
							</a>
							<div class="mask">
								<a href="#" class = "btn">
									查看詳情
								</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="pro4">
				<div class="title">
					<h2><a href="#">全球大牌優選，買手用心挑選</a></h2>
					<p class="info">全球好貨，原裝正品</p>
				</div>
				<div class="por4_top">
					<div class="pic1 pic">
						<img src="~/assets/images/img51.jpg" alt="">
						<span></span>
					</div>
					<div class="pic2">
						<div class="top pic">
							<img src="~/assets/images/img52.jpg" alt="">
							<span></span>
						</div>
						<div class="bottom pic">
							<img src="~/assets/images/img53.jpg" alt="">
							<span></span>
						</div>
					</div>
					<div class="pic3 pic">
						<img src="~/assets/images/img54.jpg" alt="">
						<span></span>
					</div>
				</div>
				<div class="pro4_bottom">
					<ul class="pro4_c">
						<li>
							<div class="pic">
								<a href="#">
									<img src="~/assets/images/img55.png" alt="">
								</a>
							</div>
							<p class="cont">
								<a href="#">
									自然生活，精選用料
								</a>
							</p>
						</li>
						<li>
							<div class="pic">
								<a href="#">
									<img src="~/assets/images/img56.png" alt="">
								</a>
							</div>
							<p class="cont">
								<a href="#">
									自然生活，精選用料
								</a>
							</p>
						</li>
						<li>
							<div class="pic">
								<a href="#">
									<img src="~/assets/images/img57.png" alt="">
								</a>
							</div>
							<p class="cont">
								<a href="#">
									自然生活，精選用料
								</a>
							</p>
						</li>
						<li>
							<div class="pic">
								<a href="#">
									<img src="~/assets/images/img58.png" alt="">
								</a>
							</div>
							<p class="cont">
								<a href="#">
									自然生活，精選用料
								</a>
							</p>
						</li>
						<li>
							<div class="pic">
								<a href="#">
									<img src="~/assets/images/img59.png" alt="">
								</a>
							</div>
							<p class="cont">
								<a href="#">
									自然生活，精選用料
								</a>
							</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- qingzhu_content部分結束 -->
	<!-- liangpin部分開始 -->
	<div class="liangpin">
		<div class="liangpin_c inner_c">
			<div class="title">
				<h2><a href="#">良品體驗</a></h2>
				<p class="info">用戶反饋，是我們改進的目標</p>
			</div>
			<div class="lp_pro">
				<ul>
					<li>
						<a href="#" title="">
							<img src="~/assets/images/img61.png" alt="">
						</a>
						<div class="cont">
							<div class="tit">
								<h4>天草陶石咖啡杯套裝</h4>
								<span>￥299</span>
							</div>
							<p class = "info">
								使用了粉碎高品質的天草陶石後提煉而成的土，製作了泛著淡青色的白瓷。用餐時可以記住食品名稱、體會新鮮口味···可對顏色和口味、氣味、口感逐個品味，從中感受用餐的樂趣，同時還可自然而然地了解日本飲食文化
							</p>
							<p class="time">
								<span>alice</span>
								<span>2016-12-16</span>
								<span>09:59</span>
							</p>
						</div>
					</li>
					<li>
						<a href="#" title="">
							<img src="~/assets/images/img62.png" alt="">
						</a>
						<div class="cont">
							<div class="tit">
								<h4>天草陶石咖啡杯套裝</h4>
								<span>￥299</span>
							</div>
							<p class = "info">
								使用了粉碎高品質的天草陶石後提煉而成的土，製作了泛著淡青色的白瓷。用餐時可以記住食品名稱、體會新鮮口味···可對顏色和口味、氣味、口感逐個品味，從中感受用餐的樂趣，同時還可自然而然地了解日本飲食文化
							</p>
							<p class="time">
								<span>alice</span>
								<span>2016-12-16</span>
								<span>09:59</span>
							</p>
						</div>
					</li>
					<li>
						<a href="#" title="">
							<img src="~/assets/images/img63.png" alt="">
						</a>
						<div class="cont">
							<div class="tit">
								<h4>天草陶石咖啡杯套裝</h4>
								<span>￥299</span>
							</div>
							<p class = "info">
								使用了粉碎高品質的天草陶石後提煉而成的土，製作了泛著淡青色的白瓷。用餐時可以記住食品名稱、體會新鮮口味···可對顏色和口味、氣味、口感逐個品味，從中感受用餐的樂趣，同時還可自然而然地了解日本飲食文化
							</p>
							<p class="time">
								<span>alice</span>
								<span>2016-12-16</span>
								<span>09:59</span>
							</p>
						</div>
					</li>
					<li>
						<a href="#" title="">
							<img src="~/assets/images/img64.png" alt="">
						</a>
						<div class="cont">
							<div class="tit">
								<h4>天草陶石咖啡杯套裝</h4>
								<span>￥299</span>
							</div>
							<p class = "info">
								使用了粉碎高品質的天草陶石後提煉而成的土，製作了泛著淡青色的白瓷。用餐時可以記住食品名稱、體會新鮮口味···可對顏色和口味、氣味、口感逐個品味，從中感受用餐的樂趣，同時還可自然而然地了解日本飲食文化
							</p>
							<p class="time">
								<span>alice</span>
								<span>2016-12-16</span>
								<span>09:59</span>
							</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- liangpin部分結束 -->
</div>
</template>

<script>
export default {}
</script>


<style>
/* banner部分 */
.banner{
	width: 100%;
	padding-top: 69px;
	position: relative;
	height: 600px;
}
.banner .pic li{
	width: 100%;
	position: absolute;
	display: none;

}
.banner .pic li img{
	width: 100%;
}
.banner .pic li.cur{
	display: block;
}
.banner .circle{
	list-style: none;
	position: absolute;
	bottom: 64px;
	width: 90px;
	height: 4px;
	left: 50%;
	margin-left: -45px;
}
.banner .circle li{
	width: 20px;
	height: 4px;
	background: #fff;
	float: left;
	margin: 0 5px;
}
.banner .circle li.cur{
	background:#C78A49;
}
/* qingzhu_content部分 */
.qingzhu_content{
	width: 100%;
}
.qingzhu_content_c .pro1 .pro_pic{
	width: 100%;
	height: 364px;
	position: relative;
}
.qingzhu_content_c .pro1 .pro_pic .pro_c{
	width: 100%;
	height: 364px;
	overflow: hidden;
}
.qingzhu_content_c .pro1 .pro_pic ul{
	width: 3000px;
	height: 364px;
}
.qingzhu_content_c .pro1 .pro_pic ul li{
	width: 276px;
	height: 364px;
	margin-right: 10px;
	float: left;
}
.qingzhu_content_c .pro1 .pro_pic .btns a{
	position: absolute;
	height: 80px;
	width: 40px;
	font-size: 38px;
	top: 50%;
	margin-top: -40px;
	font-family:serif;
	font-weight: bold;
	color: #C1C1C1;
}
.qingzhu_content_c .pro1 .pro_pic .btns a.leftBtn{
	left: -41px;
}
.qingzhu_content_c .pro1 .pro_pic .btns a.rightBtn{
	right: -55px;
}
.qingzhu_content_c .pro1 .pro_pic .pro_c li img{
	width: 100%;
}
.qingzhu_content_c .pro1 .pro_pic .pro_c li .cont{
	text-align: center;
	padding-top: 20px;
	font-size: 14px;
}
.qingzhu_content_c .pro1 .pro_pic .pro_c li .cont h3{
	line-height: 36px;
	color: #000;
	font-weight: bold;
}
.qingzhu_content_c .pro1 .pro_pic .pro_c li .cont span{
	color: #DB2E2E;
}
.qingzhu_content_c .pro2 .pro2_c{
	height: 380px;
}
.qingzhu_content_c .pro2 .pro2_c .pro2_c_pic .pic1{
	width: 680px;
	height: 380px;
	background: purple;
	float: left;
	margin-right: 10px;
	overflow: hidden;
}
.qingzhu_content_c .pro2 .pro2_c .pro2_c_pic .pic img{
	transition: all 0.4s ease 0s;
}
.qingzhu_content_c .pro2 .pro2_c .pro2_c_pic .pic{
	position: relative;
}
.qingzhu_content_c .pro2 .pro2_c .pro2_c_pic .pic span{
	border: 2px solid #fff;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.qingzhu_content_c .pro2 .pro2_c .pro2_c_pic .pic:hover span{
	border: 2px solid #fff;
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	transition: all 0.4s ease 0s;
}
.qingzhu_content_c .pro2 .pro2_c .pro2_c_pic .pic:hover img{
	/* 下面的都是CSS3屬性 */
	transform: scale(1.2);
	transition: all 0.4s ease 0s;
}
.qingzhu_content_c .pro2 .pro2_c .pro2_c_pic .pic2{
	width: 450px;
	height: 185px;
	float: left;
	margin-bottom: 10px;
	background: blue;
	overflow: hidden;
}
.qingzhu_content_c .pro2 .pro2_c .pro2_c_pic .pic3{
	width: 450px;
	height: 185px;
	float: left;
	overflow: hidden;
}
.qingzhu_content_c .pro3 .pro3_c{
	height: 630px;
	overflow: hidden;
}
.qingzhu_content_c .pro3 .pro3_c ul{
	width: 1150px;
	overflow: hidden;
	margin-bottom: 10px;
}
.qingzhu_content_c .pro3 .pro3_c ul li{
	width: 220px;
	height: 310px;
	float: left;
	margin-right: 10px;
	position: relative;
}
.qingzhu_content_c .pro3 .pro3_c ul li:hover .mask{
	display: block;
}
.qingzhu_content_c .pro3 .pro3_c ul li img{
	width: 100%;
}

.qingzhu_content_c .pro4 .por4_top{
	height: 358px;
}
.qingzhu_content_c .pro4 .por4_top{
	height: 358px;
}
.qingzhu_content_c .pro4 .por4_top .pic1{
	width: 504px;
	height: 358px;
	background: purple;
	margin-right: 10px;
	float: left;
}
.qingzhu_content_c .pro4 .por4_top .pic2{
	width: 411px;
	height: 358px;
	float: left;
}
.qingzhu_content_c .pro4 .por4_top .pic2 .top{
	height: 172px;
	background: cyan;
	margin-bottom: 14px;
}
.qingzhu_content_c .pro4 .por4_top .pic2 .bottom{
	height: 172px;
	background: cyan;
}
.qingzhu_content_c .pro4 .por4_top .pic3{
	width: 197px;
	height: 358px;
	background: pink;
	float: right;
}
.qingzhu_content_c .pro4 .por4_top .pic{
	overflow: hidden;
	position: relative;
}
.qingzhu_content_c .pro4 .por4_top .pic img{
	transition: all 0.4s ease 0s;
}
.qingzhu_content_c .pro4 .por4_top .pic:hover img{
	transform: scale(1.2);
	transition: all 0.4s ease 0s;
}
.qingzhu_content_c .pro4 .por4_top .pic span{
	border: 2px solid #fff;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.qingzhu_content_c .pro4 .por4_top .pic:hover span{
	border: 2px solid #fff;
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	transition: all 0.4s ease 0s;
}
.qingzhu_content_c .pro4 .pro4_bottom{
	overflow: hidden;
}
.qingzhu_content_c .pro4 .pro4_bottom .pro4_c{
	padding-top: 20px;
	width: 1160px;
}
.qingzhu_content_c .pro4 .pro4_bottom .pro4_c li{
	width: 210px;
	height: 140px;
	float: left;
	margin-right: 22px;
	text-align: center;
}
.qingzhu_content_c .pro4 .pro4_bottom .pro4_c li .pic{
	height: 90px;
	border: 1px solid #E8E8E8;
	overflow: hidden;
}
.qingzhu_content_c .pro4 .pro4_bottom .pro4_c li .pic img{
	transition: all 0.4s ease 0s;
}
.qingzhu_content_c .pro4 .pro4_bottom .pro4_c li .pic:hover img{
	transform: translateX(-50px);
	transition: all 0.4s ease 0s;
}
.qingzhu_content_c .pro4 .pro4_bottom .pro4_c li .pic img{
	height: 100%;
}
.qingzhu_content_c .pro4 .pro4_bottom .pro4_c li .cont{
	line-height: 48px;
	color: #5D5D5D;
}
/* liangpin部分 */
.liangpin{
	width: 100%;
	height: 613px;
	background: #F4F0EA;
}
.liangpin .lp_pro{
	height: 432px;
}
.liangpin .lp_pro ul li{
	width: 276px;
	height: 432px;
	background: #fff;
	float: left;
	margin-right: 9px;
	overflow: hidden;
}
.liangpin .lp_pro ul li a img{
	width: 100%;
	transition: all 1s ease 0s;
}
.liangpin .lp_pro ul li a img:hover{
	transform: scale(1.2);
	transition: all 2s ease 0s;
}
.liangpin .lp_pro ul li .cont{
	width: 236px;
	height: 144px;
	background: #fff;
	padding: 10px 15px;
	margin: 0 auto;
	position: relative;
	top: -15px;
}
.liangpin .lp_pro ul li .cont .tit{
	line-height: 41px;
	height: 47px;
}
.liangpin .lp_pro ul li .cont .tit h4{
	float: left;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
}
.liangpin .lp_pro ul li .cont .tit span{
	float: right;
	font-size: 14px;
	color: #C78A49;
}
.liangpin .lp_pro ul li .cont .info{
	font-size: 12px;
	line-height: 15px;
	color: #4D4D4D;
	/* 下面的屬性是設置文字省略號的 */
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}
.liangpin .lp_pro ul li .cont .time{
	margin-top: 15px;
	font-size: 12px;
	color: #777777;
}
</style>
