<template>
  <div class="userInformation">
    <div class="main">
      <div class="app-container">
        <div v-if="information">
          <el-row :gutter="20">

            <el-col :span="6" :xs="24">
              <user-card :user="information" />
            </el-col>

            <el-col :span="18" :xs="24">
              <el-card>
                <el-tabs v-model="activeTab">
                  <el-tab-pane label="帳戶" name="account">
                    <account :user="information" />
                  </el-tab-pane>
                </el-tabs>
              </el-card>
            </el-col>

          </el-row>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Profile",
  middleware: ["isLogin"],
  computed: {
    information() {
      return this.$store.getters["user/information"];
    },
  },
  data() {
    return {
      activeTab: "account",
    };
  },
};
</script>



<style >
.userInformation {
  background: #f2f2f2;
  padding: 120px;
  padding-top: 190px;
}
.userInformation .main {
  padding: 30px 40px;
  background: #fff;
}
</style>
