<template>
  <div class="login">
    <div class="main">
      <h2>註冊</h2>
      <el-form :model="registeForm" status-icon :rules="rules" ref="registeForm">
        <el-form-item label="用戶名" prop="name">
          <el-input v-model="registeForm.name" @keyup.enter.native="submitForm('registeForm')"></el-input>
        </el-form-item>
        <el-form-item label="信箱" prop="email">
          <el-input v-model="registeForm.email" @keyup.enter.native="submitForm('registeForm')"></el-input>
        </el-form-item>
        <el-form-item label="設置密碼" prop="password">
          <el-input type="password" v-model="registeForm.password" autocomplete="off" @keyup.enter.native="submitForm('registeForm')"></el-input>
        </el-form-item>
        <el-form-item label="確認密碼" prop="password_confirmation">
          <el-input type="password" v-model="registeForm.password_confirmation" autocomplete="off" @keyup.enter.native="submitForm('registeForm')"></el-input>
        </el-form-item>
        <p class="zc">
          已有賬號？請<nuxt-link to="login">直接登錄</nuxt-link>
        </p>
        <el-button @click="submitForm('registeForm')" class="btn_d">註冊</el-button>
      </el-form>

    </div>
  </div>
</template>

<script>
import { has } from "lodash-es";

export default {
  data() {
    const validatePass2 = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("請再次輸入密碼"));
      } else if (value !== this.registeForm.password) {
        callback(new Error("兩次輸入密碼不一致!"));
      } else {
        callback();
      }
    };
    return {
      registeForm: {
        name: "",
        email: "",
        password: "",
        validatepassword_confirmation: "",
      },
      rules: {
        name: [
          { required: true, message: "請輸入用戶名", trigger: "blur" },
          {
            min: 2,
            max: 12,
            message: "長度在 2 到 12 個字符",
            trigger: "blur",
          },
        ],
        email: [
          { required: true, message: "請輸入郵箱地址", trigger: "blur" },
          {
            type: "email",
            message: "請輸入正確的郵箱地址",
            trigger: ["blur", "change"],
          },
        ],
        password: [
          { required: true, message: "請輸入密碼", trigger: "blur" },
          { min: 6, message: "最小6個字符", trigger: "blur" },
        ],
        password_confirmation: [{ validator: validatePass2, trigger: "blur" }],
      },
    };
  },
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate(async (valid) => {
        if (valid) {
          try {
            const { isLogin } = await this.$store.dispatch(
              "user/registe",
              this.registeForm
            );
            if (isLogin) {
              this.$message({
                message: "註冊成功並登入，稍後跳轉",
                type: "success",
              });
              setTimeout(() => {
                const redirect = this.$route.query.redirect || "/";
                this.$router.push(redirect);
              }, 800);
            }
          } catch (error) {
            this.$message.error(
              (has(error, "response.data.message")
                ? error.response.data.message
                : error.message) || "登入失敗"
            );
            this.resetForm(formName);
            // this.$nuxt.error({statusCode: 400, message: '數據查詢失敗請重試~'})
          }
        } else {
          this.$message({
            message: "請填寫好表單!",
            type: "warning",
          });
          return false;
        }
      });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    },
  },
};
</script>

<style >
.login {
  background: #f2f2f2;
  padding: 120px;
  padding-top: 190px;
}
.login .main {
  width: 322px;
  margin: 0 auto;
  padding: 30px 40px;
  background: #fff;
}
.login .main h2 {
  height: 40px;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #c0c4cc;
  font-size: 14px;
}
.login .main p {
  font-size: 12px;
  color: #4685ec;
  height: 30px;
}
.login .main p .l {
  float: left;
}
.login .main p .r {
  float: right;
}
.login .main .btn_d {
  width: 100%;
  padding-left: 0;
  background: #4685ec;
  color: #fff;
  margin-bottom: 10px;
}
.login .main .btn_d:hover {
  opacity: 0.9;
}
.login .main .btn_p {
  background: #fff;
  width: 100%;
  padding-left: 0;
  border-color: #4685ec;
  color: #4685ec;
}
.login .main .btn_p:hover {
  opacity: 0.9;
}
.login .main .acc {
  height: 56px;
  border-top: 1px solid #ddd;
  padding-top: 20px;
  position: relative;
}
.login .main .acc h3 {
  position: absolute;
  top: -10px;
  left: 50%;
  /* CSS3屬性 */
  transform: translateX(-50%);
  background: #fff;
  padding: 0 5px;
}
.login .main .acc p {
  padding-left: 10px;
}
.login .main .acc a {
  display: inline-block;
  width: 34px;
  height: 33px;
  background: url(~/assets/images/qq.png);
  margin: 0 6px;
}
.login .main .acc a.a1:hover {
  background: url(~/assets/images/qq2.png);
}
.login .main .acc a.a2 {
  background: url(~/assets/images/wb.png);
}
.login .main .acc a.a2:hover {
  background: url(~/assets/images/wb2.png);
}
.login .main .acc a.a3 {
  background: url(~/assets/images/wx.png);
}
.login .main .acc a.a3:hover {
  background: url(~/assets/images/wx2.png);
}
.login .main .acc a.a4 {
  background: url(~/assets/images/wy.png);
}
.login .main .acc a.a4:hover {
  background: url(~/assets/images/wy2.png);
}
.login .main .acc a.a5 {
  background: url(~/assets/images/rr.png);
}
.login .main .acc a.a5:hover {
  background: url(~/assets/images/rr2.png);
}
.login .main .acc a.a6 {
  background: url(~/assets/images/db.png);
}
.login .main .acc a.a6:hover {
  background: url(~/assets/images/db2.png);
}
/* 註冊部分的代碼 */
.login .main .zc {
  color: #555;
}
.login .main .zc a {
  color: #4685ec;
}
</style>
